.thecontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  margin-top: 2%;
  padding: 0 5%;
}

.main_main {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.main_text {
  width: 35%;
  margin-right: 20%;
  margin-top: 10%;
}

.main_text h1 span {
  color: #fac031;
  font-family: "MV Boli", sans-serif;
}

.main_text h1 {
  font-size: 41px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.main_text p {
  text-align: justify;
  line-height: 22px;
  font-size: 15px;
}

.main_btn {
  font-weight: bold;
  background: #252523;
  padding: 1.3% 5%;
  text-decoration: none;
  color: #f0f0f0;
  border-radius: 22px;
  box-shadow: 2px 2px 2px 2px rgb(211, 208, 208);
  transition: padding 0.5s ease;
  font-family:'Times New Roman', Times, serif;
}

.main_btn:hover {
  padding: 1.3% 6.5%;
}

.main_image {
  width: 52%;
  position: relative;
  height: 100%;
  margin-top: -2.5%;
  left: -6%;
 
}

.main_image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.text {
  position: absolute;
 top: 45%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: white;
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media(max-width:768px){
 
  .main_main {
    display: block;
    justify-content: space-between;
    width: 100%;
  }
  .main_text {
    width: 100%;
    margin-right: 20%;
    margin-top: 10%;
  }
  
  
  .main_btn {
 
    padding: 2% 5%;
  
  }
  
  .main_btn:hover {
    padding: 2.3% 8.5%;
  }
  
  .main_image {
    width: 111%;
    position: relative;
  
    margin-top: -30.5%;
    left: -5.3%;
   
  }
  
  
}