@if (car) {
<div class="details-wrapper">
  <button class="btn-back" (click)="goBack()">
    <i class="fa-solid fa-arrow-left"></i> Tilbage
  </button>

  <div class="car-hero">
    <img [src]="activeImage"  class="hero-img">
    <span class="category-badge">{{ car.category }}</span>
  </div>

  <div class="thumbnails">
    <img [src]="car.imageUrl1" class="thumb" [class.active]="activeImage === car.imageUrl1" (click)="activeImage = car.imageUrl1">
    @if (car.imageUrl2) {
      <img [src]="car.imageUrl2" class="thumb" [class.active]="activeImage === car.imageUrl2" (click)="activeImage = car.imageUrl2">
    }
    @if (car.imageUrl3) {
      <img [src]="car.imageUrl3" class="thumb" [class.active]="activeImage === car.imageUrl3" (click)="activeImage = car.imageUrl3">
    }
      @if (car.imageUrl4) {
       <img [src]="car.imageUrl4" class="thumb" [class.active]="activeImage === car.imageUrl4" (click)="activeImage = car.imageUrl4">
    }
  </div>

  <div class="car-header">
    <h1 class="car-title">{{ car.carName }}</h1>
    <h2 class="car-model">Model : {{ car.carModel }}</h2>
    <span class="car-price">{{ car.price | dkPrice }} DKK</span>
  </div>

  <div class="info-card">
    <div class="info-row">
      <div class="info-item">
        <i class="fa-solid fa-calendar"></i>
        <div>
          <span class="label">Årgang</span>
          <span class="value">{{ car.year }}</span>
        </div>
      </div>
      <div class="info-item">
        <i class="fa-solid fa-tag"></i>
        <div>
          <span class="label">Kategori</span>
          <span class="value">{{ car.category }}</span>
        </div>
      </div>
      <div class="info-item">
        <i class="fa-solid fa-road"></i>
        <div>
          <span class="label">Kilometerstand</span>
          <span class="value">{{ car.km | number }} km</span>
        </div>
      </div>
      <div class="info-item">
        <i class="fa-solid fa-gas-pump"></i>
        <div>
          <span class="label">Brændstof</span>
          <span class="value">{{ car.fuel }}</span>
        </div>
      </div>
      <div class="info-item">
        <i class="fa-solid fa-gears"></i>
        <div>
          <span class="label">Gearkasse</span>
          <span class="value">{{ car.geartype }}</span>
        </div>
      </div>
      <div class="info-item">
        <i class="fa-solid fa-bolt"></i>
        <div>
          <span class="label">Hestekræfter</span>
          <span class="value">{{ car.horsepower }} hk</span>
        </div>
      </div>
      <div class="info-item">
        <i class="fa-solid fa-gauge-high"></i>
        <div>
          <span class="label">Tophastighed</span>
          <span class="value">{{ car.topSpeed }} km/t</span>
        </div>
      </div>
      <div class="info-item">
        <i class="fa-solid fa-palette"></i>
        <div>
          <span class="label">Farve</span>
          <span class="value">{{ car.color }}</span>
        </div>
      </div>
      <div class="info-item">
        <i class="fa-solid fa-receipt"></i>
        <div>
          <span class="label">Afgift (Årlige)</span>
          <span class="value">{{ car.afgift }} Dkk</span>
        </div>
      </div>
    </div>
  </div>

 
  <div class="contact">

    <h2 class="section-title">Kontakt <i class="fa-solid fa-phone"></i></h2>

    <a href="tel:42348204" class="phone-link">
      <i class="fa-solid fa-phone"></i> 42 34 82 04
    </a>
     
  </div>

</div>
}
