
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<div class="navbar"> 
    <div class="navbar-container" (mouseleave)="resetUnderline()"> <!-- mouseleave når mussen forlader objekten-->
        <h1 class="logo">AutoFlow.</h1>
         <div class="navbar-menu"> 
            <ul> 
                <li (mouseover)="moveUnderline($event)"><a href="#Home">Home</a></li>  <!-- mouseover når mussen hover objekten-->
                     <li (mouseover)="moveUnderline($event)"><a routerLink="/carshop"> Shop</a></li>
                           <li (mouseover)="moveUnderline($event)"><a href="#Services">Services</a></li>
                             <li (mouseover)="moveUnderline($event)"><a href="#About">About</a></li>
                                <li (mouseover)="moveUnderline($event)"><a href="#Contact">Contact</a></li>
                    
                                
                                     <li style="cursor: pointer;" (mouseover)="moveUnderline($event)" *ngIf="!isLoggedIn"  class="login"><a routerLink="/login" >Login <i class="fa-solid fa-right-to-bracket" ></i></a></li>
                                     <li class="user-icon" (mouseover)="moveUnderline($event)"  *ngIf="isLoggedIn"  (click)="toggleDropdown()">  <i class="fa-solid fa-user" > </i>  <i class="fa-solid fa-angle-down"></i>
                                       <ul class="dropdown-menu" *ngIf="isdropdownOpen">
                                         <div class="arrow-up"></div>
                                         <li><a><i class="fa-solid fa-user"></i> {{UserName}}</a><hr></li>
                                         <li *ngIf="TheUserStatus === 'Admin'"><a routerLink="/item-list"><i class="fa-solid fa-list"></i> Item List</a></li>
                                         <li *ngIf="TheUserStatus === 'Admin'"><a routerLink="/add-cars"><i class="fa-solid fa-plus"></i> Add Cars</a></li>
                                         <li *ngIf="TheUserStatus === 'Admin'"><a routerLink="/add-reserveparts"><i class="fa-solid fa-plus"></i> Add Car-parts</a></li>
                                         <li *ngIf="TheUserStatus === 'Admin'"><a routerLink="/booking-list"><i class="fa-regular fa-calendar-days"></i> Booking List</a></li>
                                         <li *ngIf="TheUserStatus === 'user'"><a routerLink="/bookings-user"><i class="fa-regular fa-calendar-days"></i> My Bookings</a></li>
                                         <li ><a routerLink="/my-account"> My Account</a></li>
                                         <li *ngIf="TheUserStatus === 'Admin'"><a routerLink="/AllUsers"><i class="fa-regular fa-user"></i> All-Users</a></li>
                                       </ul>
                                     </li>
                                     <li (mouseover)="moveUnderline($event)" *ngIf="isLoggedIn" ><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
                                
            </ul>
               
            <div class="underline" #underline></div>
         </div>
    </div>
</div>
<div class="page-content">
  <router-outlet></router-outlet>
</div>
    
</body>
</html>