
<div class="carshop-page">
  <h2 class="page-title">Reserve Parts</h2>

       <div class="tabs"> 
        <button class="tab-btn" [class.active]="activeTab === 'cars'" (click)="activeTab = 'cars'" routerLink="/carshop">
          <i class="fa-solid fa-car"></i> Biler
        </button>
        <button class="tab-btn" [class.active]="activeTab === 'parts'" (click)="activeTab = 'parts'" >
          <i class="fa-solid fa-gears"></i> Reservedele
        </button>

          <div class="search-bar">
             <i class="fa-solid fa-magnifying-glass"></i>
             <input type="text" [(ngModel)]="searchPart" placeholder="Søg reservedele"  (ngModelChange)="SearchPartByName()" (keyup.enter)="SearchPartByName()">
             @if (searchPart) {
               <i class="fa-solid fa-xmark clear-icon" (click)="ClearSearch()"></i>
             }
             <button class="search-btn" (click)="SearchPartByName()">Søg</button>
          </div>

          <button class="filter-btn" (click)="toggleSidebar()">
            <i class="fa-solid fa-sliders"></i> Filter
          </button>

      </div>

  <div class="cars-grid">
    @for (part of parts; track part.id) {
      <div class="car-card"[routerLink]="['/reservepartsdetails', part.id]" style="cursor:pointer">
        <div class="card-header">
          <div class="car-image">
            <img [src]="part.imageUrl1" [alt]="part.name">
          </div>
          <span class="category-badge">{{ part.category }}</span>
        </div>
        <div class="card-body">
          <h3 class="car-name">{{ part.name }}</h3>
          <p class="car-model">Stock: {{ part.stock }}</p>
          <p class="car-description">{{ part.description }}</p>
          <div class="card-footer">
          <span class="price">{{ part.price | dkPrice }} DKK</span>
          </div>
        </div>
      </div>
    }

        <!-- Sidebar overlay -->
         <div class="sidebar-overlay" [class.visible]="sidebarOpen" (click)="toggleSidebar()"></div>

           <!-- Filter sidebar -->
          <div class="filter-sidebar" [class.open]="sidebarOpen">
            <div class="sidebar-header"> 
              <h3>Filtrer ReserveDel</h3>
              <button class="close-btn" (click)="toggleSidebar()"><i class="fa-solid fa-xmark"></i></button>
            </div>

            <div class="filter-section">
              <label>Bil Mærke</label>
              <select [(ngModel)]="selectedCarName" (ngModelChange)="onCarNameChange()">
                <option value="">Alle mærker</option>
                @for (name of availableCarNames; track name) {
                  <option [value]="name">{{ name }}</option>
                }
              </select>
            </div>

            <div class="filter-section">
              <label>Model</label>
              <select [(ngModel)]="selectedCarModel" (ngModelChange)="applyFilters()" [disabled]="!selectedCarName">
                <option value="" >Alle modeller</option>
                @for (model of availableCarModels; track model) {
                  <option [value]="model">{{ model }}</option>
                }
              </select>
            </div>

            <div class="filter-section">
              <label>Kategori</label>
              <select [(ngModel)]="selectedCategory" (ngModelChange)="applyFilters()">
                <option value="">Alle kategorier</option>
                @for (cat of availableCategories; track cat) {
                  <option [value]="cat">{{ cat }}</option>
                }
              </select>
            </div>

            <div class="filter-section">
              <label>Max Pris (DKK)</label>
              <input type="number" [(ngModel)]="filterMaxPrice" placeholder="F.eks. 5000">
            </div>

            <div class="filter-actions">
              <button class="apply-btn" (click)="applyFilters()">Anvend</button>
              <button class="clear-btn" (click)="clearFilters()">Ryd</button>
            </div>
  </div>
</div>
