<div class="thecontainer"> 
    <div class="main_main">
        <div class="main_image">
            <img src="./assets/bilsprøjtning.jpg" alt="Car Workshop">
            <div class="text">Bil Sprøjtning</div>
        </div>
        <div class="main_text">
            <h1>Skal du skift  <span>Farve </span><br> på din bil ,<br> så book en tid hos os nu </h1>
            <p><i>Vi går op i at præsentere opskrifterne på en letforståelig måde, så selv nybegyndere kan følge med. Hver opskrift er nøje gennemprøvet og inkluderer detaljerede trin-for-trin instruktioner samt nyttige tips og tricks, der sikrer succes i køkkenet.
            Udover opskrifter tilbyder vi også artikler om madtendenser, ernæring, køkkenudstyr og meget mere. Vores mål er at være en pålidelig kilde til information og inspiration for madentusiaster som dig.</i></p>
            <br><br>
            <a href="#Menu" class="main_btn" routerLink="/Booking">Book  Tid  <i class="fa-regular fa-clock"></i></a>
        </div>


    </div>
</div>
